@import '~antd/dist/antd.css';


.App {
    text-align: center;
    /*display: flex;*/
}

.App-link {
    color: #61dafb;
}

.App h1 {
    margin: 50px 0;
}

.colorDarkPurple {
    background-color: #e4e2e2;
}

.colorPurple {
    background-color: #f5e4ce;
}

.avgRow {
    background-color: #fcfb9b;
}

.columnWidth td {
    width: 14.28%;

}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;

    width: 60px;
    min-width: 60px;
    max-width: 60px;
    left: 0px;

}

.datePicker {

    margin: 25px;

}

.showLoader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vmin;
    background-color: #ccc;
}

.loaderWrapper i{
    font-size: 45px;
    color: #fff;
}

.loaderWrapper p{
    color: #fff;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
}




table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, th {
    min-width: 70px;
    overflow: hidden;
    padding: 5px;
}

table .name {
    min-width: 200px;
    overflow: hidden;
    color: blue;
}

table{
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.d-n{
    display: none;
}

.xl654306{
    border-right:.5pt solid black;
    border-left: none;
}

.greyRow{
    background-color: #cccccc;
}

.yellowRow{
    background-color: #fcfb9b;
}

.yellowRow td.sticky-col{
    background-color: #fcfb9b;
}

.showDatePicker{
    font-size: 13px;
}

